* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
 
.homepage-header {
  height: 80px;
  /* background-color: rgb(126, 126, 126); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.homepage-header a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}
.homepage-header div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
 
.homepage-header .header-logo {
  margin-left: 20px;
}
 
.homepage-header .header-icons {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-logo img {
  width:50px;
  height:50px
}
.header-icons div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.header-icons div:hover {
  background-color: rgb(253, 181, 152);
}
 
.homePage section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* styles for hero banner */
.heroBanner div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroBanner_Text{
  width: 40%;
}
 
.heroBanner div h1 {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
}
 
.heroBanner div p {
  padding: 10px;
  text-justify: auto;
  font-size: 20px;
}
 
/* styles for community banner */
.communitySection{
  padding: 10px 0px;
}
.communitySection img {
  width: 60vw;
  height: 80vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
 
.communitySection div {
  padding: 10px;
}
 
.communitySection div h1 {
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}
 
.communitySection div p {
  padding: 10px;
  text-justify: auto;
  font-size: 20px;
}
.communitySection button {
  margin: 10px 0px 0px 10px;
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}
 
.communitySection button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};
 
.communitySection button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};
 
 
 /* styles for donate banner */

 .donateBanner{
  margin-bottom: 20px;
 }

.donateBanner img {
  width: 60vw;
  height: 80vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
 
.donateBanner div {
  padding: 10px;
}
 
.donateBanner div h1 {
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}
 
.donateBanner div p {
  padding: 10px;
  text-justify: auto;
  font-size: 20px;
}
 
.footer-container {
  margin-top: 10px;
  width: 100%;
  background-color: rgb(48, 48, 48);
  color: aliceblue;
}
.footer-container .copyright {
  text-align: center;
  padding: 10px;
}
 